@import '../../style/globals.css';

.preview-doc-modal {
    & .p-fieldset {
        @apply flex;
    }

    & .p-fieldset .p-toggleable-content {
        @apply shrink grow overflow-auto
    }
}

.flow-editor .act-bar {
    @apply absolute z-20;
    right: 22px;

    &.main {
        left: 22px;
    }

    & .act-button {
        @apply gap-2 m-std-min bg-deep-strong border-turbo-deep rounded-std;
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-width: 1px;
        border-style: solid;

        &.selected {
            box-shadow: theme('backgroundImage.turbo-gradient-selected');
        }
    }
}