@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .std-p {
    @apply px-[12px] py-[18px]
  }

  .std-rounded {
    @apply rounded-[10px]
  }

  .std-sm-rounded {
    @apply rounded-[4px]
  }

  .std-text-color {
    @apply text-[#ffffff]
  }

  .std-text-deep-color {
    @apply text-[#5B5B5B]
  }

  .std-border {
    @apply border-[1px] border-[#EBEBEB] overflow-hidden;
  }

  .circle-border {
    @apply rounded-full overflow-hidden;
    @apply flex items-center justify-center;
  }

  .std-content {
    @apply p-[5px] bg-white
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */