/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .std-p {
    @apply px-[12px] py-[18px]
  }

  .std-border {
    @apply border-[1px] border-[#EBEBEB] overflow-hidden;
  }

  .circle-border {
    @apply rounded-full overflow-hidden;
    @apply flex items-center justify-center;
  }

  .std-content {
    @apply p-[5px]
  }

  .std-title-pane {
    @apply bg-std-deep-weak h-[60px] px-[12px] py-[18px];
    @apply flex items-center;
    @apply text-std-light text-[22px] justify-between;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  margin: 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes spinner {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}


/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */