/* @import 'primereact/resources/themes/saga-purple/theme.css'; */
/* @import 'primereact/resources/themes/lara-dark-purple/theme.css'; */
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-turbo-deep-weak;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-turbo-deep;
}

.p-datatable {
    @apply flex flex-col justify-between gap-std-sm;
    overflow: auto;

    & .p-datatable-wrapper {
        @apply grow shrink;

    }

    & .p-datatable-table {
        @apply rounded-std overflow-hidden;

        & th {
            @apply text-light bg-deep;
            @apply border-light-weak;
        }

        & tr {
            @apply text-light bg-deep-weak;
            @apply border-light-weak;

            &:hover {
                @apply bg-turbo-deep-weak bg-opacity-50;
            }

        }
    }

    & .p-paginator {
        @apply bg-deep;
        @apply rounded-std border-light-weak border-[1px];
    }
}

.p-highlight {
    @apply bg-turbo-deep-weak text-light !important;
}

.react-flow__handle.source {
    @apply bg-turbo-gradient;
    right: -20px;
}

.react-flow__controls {
    & button {
        @apply bg-deep-strong;
        @apply border-turbo-deep border-[1px] border-solid;
        color: rgb(243, 244, 246);
        border-bottom: none;

        &:hover {
            background-color: rgb(37, 37, 37);
        }

        &:first-child {
            border-radius: 5px 5px 0 0;
        }

        &:last-child {
            @apply border-turbo-deep border-[1px] border-solid;
            border-radius: 0 0 5px 5px;
        }

        & path {
            fill: rgb(243, 244, 246);
        }
    }
}

.react-flow__handle.target {
    @apply bg-turbo-light;
    left: -20px;
}

.react-flow__node:focus {
    outline: none;
}

.react-flow__edge .react-flow__edge-path {
    stroke: url(#edge-gradient);
    stroke-width: 1;
    stroke-opacity: 0.75;
}

.react-flow__attribution {
    @apply bg-deep !important;
}

.react-flow__attribution a {
    @apply text-turbo-deep !important;
}

.toast-message {
    @apply border-0 border-x-[6px]
}

.p-dialog {

    & .p-dialog-header,
    .p-dialog-content,
    .p-dialog-footer {
        @apply bg-deep;
        @apply text-light;
    }
}

.p-fileupload {

    & .p-fileupload-buttonbar,
    .p-fileupload-content {
        @apply text-light;
        @apply bg-deep;
        @apply border-[2px] border-light-weak
    }
}

.p-fieldset {
    & .p-fieldset-legend {
        @apply text-light;
        @apply bg-deep-weak;
        @apply border-[2px] border-light-weak
    }
}

.p-splitter {
    @apply rounded-std border-deep-strong;
    @apply bg-deep-strong;

    & .p-splitter-gutter {
        @apply my-[12px]
    }
}

.p-accordion {

    & .p-accordion-header-link,
    .p-accordion-content {
        @apply bg-deep border-[2px] border-light-weak;
    }

}

.p-button {
    box-shadow: none;
}

.act-bar {
    @apply rounded-std bg-deep-weak/[.5] flex items-center;
    padding: 7px 21px;
    height: 68px;
    min-height: 58px;
    min-width: 58px;
    text-wrap: nowrap;
    overflow: hidden;
}