@import 'primereact/resources/themes/saga-purple/theme.css';
/* @import 'primereact/resources/themes/lara-light-indigo/theme.cs'; */
@tailwind components;

@layer components {
    .zd-table {
        @apply flex flex-col justify-between gap-std-sm;

        & .p-datatable-table {
            @apply rounded-std overflow-hidden;

            & th {
                @apply text-light bg-deep;
                @apply border-light-weak;
            }

            & td {
                @apply text-light bg-deep-weak;
                @apply border-light-weak;
            }
        }

        & .p-paginator {
            @apply bg-deep;
            @apply rounded-std border-light-weak border-[1px];
        }
    }
}

.react-flow__handle.source {
    right: -20px;
    background: #a853ba;
}

.react-flow__handle.target {
    left: -20px;
    background: #2a8af6;
}

.react-flow__node:focus {
    outline: none;
}

.react-flow__edge .react-flow__edge-path {
    stroke: url(#edge-gradient);
    stroke-width: 1;
    stroke-opacity: 0.75;
}

.react-flow__controls {
    & button {
        background-color: rgb(17, 17, 17);
        color: rgb(243, 244, 246);
        border: 1px solid #95679e;
        border-bottom: none;

        &:hover {
            background-color: rgb(37, 37, 37);
        }

        &:first-child {
            border-radius: 5px 5px 0 0;
        }

        &:last-child {
            border-bottom: 1px solid #95679e;
            border-radius: 0 0 5px 5px;
        }

        & path {
            fill: rgb(243, 244, 246);
        }
    }
}

.react-flow__attribution {
    background: rgba(200, 200, 200, 0.2);
}

.react-flow__attribution a {
    color: #95679e;
}